<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Create User </h1>

    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="number" name="value">
        <input type="date" name="dateLeave">
        <input type="date" name="dateCome">
        <button type="submit">Save</button>
    </form>
</body>

</html>