<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Travels</h1>

    <ul>
        {% for travel in travels %}
        <li> {{ travel.name }}
            <a href="{% url 'edit' travel.id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete' travel.id %}">
                <button>Delete</button>
            </a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create' %}">
        <button> Create Travel</button>
    </a>
</body>

</html>